html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E3E3E3;
  color: #2E363B;
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
}

body > div {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  line-height: inherit;
}

button {
  outline: none;
}

.loading-indicator {
  --c: no-repeat linear-gradient(#2E363B 0 0);

  width: 40px;
  height: 40px;
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%
  }

  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px
  }

  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px
  }

  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0
  }
}

.app-container {
  height: 100%;
  padding: 5rem 4rem;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

.app-container:empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container:empty::after {
  content: 'An empty canvas yearns for your touch, eager to be painted with the vibrant colors of your imagination.';
  font-size: 1.5rem;
  text-align: center;
  color: #2E363B;
}

.gallery-container {
  padding: 2.5rem 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 15fr;
  grid-template-rows: minmax(0, max-content) minmax(0, 100%);
  gap: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0 3rem 2rem 1rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.gallery-container .title {
  grid-column: 2 / 3;
  font-size: 3rem;
  text-align: end;
  height: max-content;
}

.gallery-container .title::after {
  content: '';
  height: 0.5rem;
  width: 7rem;
  display: block;
  background-color: #2E363B;
  border-radius: 1rem;
  margin-left: auto;
  margin-top: -0.5rem;
}

.category-selector {
  grid-row: 1 / 3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}

.category-selector .categories-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.category-selector .categories-list .category,
.category-selector .arrow {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: end;
  color: #A9A9A8;
  transition: all 0.4s ease-in-out;
}

.category-selector .categories-list .category.selected {
  color: #2E363B;
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: -15rem;
}

.category-selector .arrow {
  width: max-content;
  text-align: start;
  color: #2E363B;
  font-size: 3rem;
}

.gallery {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.gallery .images-list {
  display: flex;
  gap: 1rem;
  margin-right: -15rem;
  height: 100%;
  overflow-x: hidden;
}

.gallery .images-list .loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% - 15rem);
}

.gallery .images-list .image {
  flex: 0 0 calc(50% - 0.5rem);
  background-position: center;
  background-size: cover;
  border-radius: 0.3rem;
  transform: scaleY(0.8);
  transition: all 0.4s ease-in-out;
}

.gallery .images-list .image:last-child {
  margin-right: 15rem;
}

.gallery .images-list .image.selected {
  transform: scaleY(1);
}

.gallery .image-selector {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.gallery .image-selector .selected-image-number .current {
  font-size: 2.5rem;
  font-weight: bold;
}

.gallery .image-selector .selected-image-number .total {
  font-size: 2rem;
  color: #A3A3A3;
}

.gallery .image-selector .arrows {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  margin-right: 1rem;
}

.gallery .image-selector .arrows .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
}
